   
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////////COMMON\\\\\\\\\\\\\ */
body {
    width: 70%;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    background-color: goldenrod;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* ////////////END COMMON\\\\\\\\\\\\\ */

    header{
        text-align: center;
    }

    h1{
        margin: 30px 0px;
        font-weight: 600;
        color: blueviolet;
     }

    main{
        margin: 40px 0px ;
    }

    p{
        font-weight: 400;
    }

/* TESSERA MEMBRO TEAM COMMON */

    .uno{
        background-color: pink;
    }

    .due{
        background-color: green;
    }

    .tre{
        background-color: blue;
    }

   
    .container-tessera{
        float: left;
        padding: 10px;
        width: calc( 100% / 3 );
        /* background-color: rgb(13, 29, 13); */
        padding: 10px 10px;
        
    }
    
    .tessera{
        background-color: rgb(99, 150, 6);
        /* padding: 2px; */
        box-shadow: 2px 2px rgba(0,0,0,0.2);
    }

    .tessera img{
        height: 70px;
        float: left;
    }

    .tessera .info{
       float: right;
       width: calc(100% - 80px);
       background-color: beige;
       margin: 10px 5px;
       
    }
        
    /* .tessera .info{
        color: white;
        font-size: 80%;
        display: inline-block;
        padding: 10px 10px;
    } */

          .mail{
              color: rgb(10, 16, 14)
          }
       

    

       /* TESSERE TEAM NEL PARTICOLARE */
